body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./recursos/pattern.svg);
    background-repeat: repeat;
    background-size: contain;
}

.container{
    background-color: white;
    padding:1rem;
    border-radius: 8px;
    box-shadow:5px 7px 7px rgba(0,0,0.4);
    max-width: 500px;
    width:100%;
}

.dotted-container{
    border-style: dashed;
    border-width: 2px;
    border-color: #f4c6ca;
    padding:2rem;

}

h1{
    text-align: center;
    color: #f05d71;
    font-size: 2.5rem;
    font-family: "Handlee", cursive;
    font-weight: 400;
    margin-top:0;
}

form{
    display:flex;
    flex-direction: column;
}

input,select{
    margin-bottom: 1rem;
    padding: 8px;
    border-width:1px;
    border-style:solid;
    border-color:#ccc;
    border-radius:4px;
    font-size:1rem;
}

label,legend{
    margin-bottom:5px;
    font-weight: bold;
    color:#555
}

.checkbox-group{
    display:flex;
    justify-content: space-between;

}